* {
    margin: 0;
    padding: 0;
}

.ui-content {
    width: 40%;
    margin: 40px auto;
    border: 3px solid #bbbbbb;
    padding: 20px;
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 10px;
}

h3 {
    text-align: center;
}

.ui-content p {
    font-size: 14px;
    margin-top: 10px;
    text-indent: 2em;

}

a {
    text-decoration: none;
    color: lightskyblue;
    /*display: ;*/
}

.dia-log {
    max-width: 30%;
    border: 1px solid #35B558;
    color: #000;
    font-size: 14px;
    overflow: auto;
    position: absolute;
    padding: 3px;
    background-color: #bbbbbb;
    border-radius: 5px;

    /*风继续吹*/

}